# Datenbank
DB_PASSWORD=changeme
DATABASE_URL=postgresql://postgres:changeme@db:5432/via1

# NextAuth
NEXTAUTH_SECRET=changeme_generate_with_openssl_rand_base64_32
NEXTAUTH_URL=https://app.felsenau.org
